/*! Laurel_Review_admin - v1.0.0 | (c) Arpad Olasz | Proprietary. */
.activity__msg--message .flag__img{vertical-align:top;white-space:nowrap}.activity__msg--message p{margin-top:0;margin-bottom:12px}.activity__msg--log{font-style:italic;color:#999;font-size:0.85em}.activity__msg--log a{color:#666}
